@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT CSS */
@layer base {
  :root {
    /* Empty */
  }

  html,
  body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: 650px;
    background-color: rgb(15, 0, 0);
    color: white;
  }
}

/* Root Layout & Protected Layout */
@layer components {
  .main-container,
  .protected-main-container {
    @apply /* border-solid border-4 border-blue-400 */
		flex flex-col justify-center items-center
		w-full h-full
		relative;
  }
  .protected-main-container {
    @apply md:flex-col-reverse;
  }
  .protected-content-container {
    @apply /* border-solid border-4 border-orange-400 */
		flex flex-col justify-center items-center
		w-full h-[calc(100%-90px)]
		relative;
  }
}

/* Welcome Page */
@layer components {
  .welcome-page-container {
    @apply /* border-solid border-4 border-blue-400 */
		flex justify-center items-center
		bg-cover bg-center bg-opacity-30
		bg-[url('/images/welcome-image.jpg')]
		w-full h-full
		p-5 sm:p-10 md:p-14
		relative;
  }
  .welcome-page-content {
    @apply /* border-dotted border-2 border-orange-400 */
		flex flex-col justify-center items-center
		w-full h-full max-w-[1000px]
		gap-4
		relative;
  }
  .welcome-header-container {
    @apply /* border-dotted border-2 border-purple-400 */
		flex flex-col justify-center items-center
		w-full h-[100px] sm:h-[120px] md:h-[150px] lg:h-[180px]
		p-5 gap-4
		relative;
  }
  .welcome-page-body {
    @apply flex flex-col justify-center items-center 
		w-full h-fit
		gap-2;
  }
  .welcome-image-container {
    @apply /* border-dotted border-2 border-yellow-400 */
		flex flex-col justify-center items-center
		w-full h-[300px] max-w-[600px]
		p-5 gap-4
		relative;
  }
  .welcome-text {
    @apply text-xl;
  }
  .welcome-btns-container {
    @apply /* border-dotted border-2 border-red-400 */
		flex flex-col justify-center items-center
		w-full h-fit
		gap-4 mt-8
		relative
		
		sm:flex-row sm:gap-4;
  }
  .welcome-btn {
    @apply /* border-dotted border-2 border-green-400 */
		flex justify-center items-center
		w-full h-fit
		gap-4
		relative
		
		sm:w-[250px] md:w-[300px] lg:w-[350px];
  }
}

/* Complete Sign Up */
@layer components {
  .complete-signup-container {
    @apply /* border-solid border-4 border-blue-400 */
		flex justify-center items-center
		w-full h-full
		relative
		px-5;
  }
  .complete-signup-content {
    @apply /* border-solid border-4 border-orange-400 */
		flex flex-col justify-start items-center
		w-full h-full max-w-[1000px]
		overflow-y-auto
		relative
		gap-2;
  }
  .complete-signup-header {
    @apply /* border-solid border-4 border-purple-400 */
		flex justify-center items-center
		w-full h-fit
		text-2xl
		text-center
		relative
		sm:text-3xl
		md:text-4xl;
  }
  .complete-signup-form-container {
    @apply /* border-solid border-4 border-yellow-400 */
		flex flex-col justify-center items-center
		w-full h-full
		relative;
  }
}

/* SignUpStep1 */
@layer components {
  .form-1 {
    @apply /* border-solid border-4 border-blue-400 */
		flex flex-col justify-center items-start
		w-full h-fit max-w-[400px]
		gap-1;
  }
  .form-1-label {
    @apply /* border-solid border-4 border-orange-400 */
		flex justify-start items-center
		w-full h-fit text-xl;
  }
  .form-1-input {
    @apply border-solid border-2 border-white
	rounded-md px-4 py-2 bg-inherit w-full h-fit mb-3;
  }
  .form-1-select {
    @apply w-full h-fit
	rounded-md px-4 py-2 
	border-solid border-2 border-white
	bg-inherit mb-5;
  }
  .form-1-submit-btn {
    @apply rounded-md 
	border-solid border-2 border-white
	w-full h-fit
	px-4 py-2;
  }
}

/* SignUpStep2 */
@layer components {
  .signup-step2 {
    @apply /* border-solid border-4 border-blue-400 */
		flex flex-col justify-center items-center
		w-full h-full
		relative;
  }
  .signup-step2-content {
    @apply /* border-solid border-4 border-orange-400 */
		flex flex-col justify-center items-center
		w-full h-full min-h-[400px] max-w-[600px]
		relative
		gap-2;
  }
  .theaterlist-container {
    @apply /* border-solid border-4 border-purple-400 */
		flex flex-col justify-between items-center
		w-full h-fit
		relative
		gap-2
		
		md:flex-row md:gap-4;
  }
  .theaterlist-set {
    @apply /* border-solid border-4 border-yellow-400 */
		flex flex-col justify-center items-center
		w-fit h-fit
		relative
		gap-2
		md:gap-4;
  }
}

/* SignUpStep3 */
@layer components {
  .signup-step3 {
    @apply /* border-4 border-dotted border-red-600 */
		flex flex-col justify-center items-center 
		relative
		w-full h-fit;
  }
  .signup-step3-title {
    @apply /* border-2 border-solid border-white */
		flex justify-start items-center
		w-full h-fit
		py-2;
  }
  .signup-step3-cards-container {
    @apply flex flex-nowrap justify-start items-center 
		w-full h-fit
		gap-2;
  }
}

/* Buttons */
@layer components {
  .rounded-btn {
    @apply flex justify-center items-center
		w-full h-fit
		rounded-2xl
		bg-red-400
		text-black
		font-medium
		p-2

		transition duration-300 ease-in-out
		hover:bg-[#fcab9a];
  }
}

/* Cards */
@layer components {
  .cinema-card {
    @apply /* border-solid border-2 border-white */
		flex flex-col justify-center items-center
		bg-gray-700 text-white
		w-[280px] h-fit
		rounded-lg
		relative
		gap-1
		p-2;
  }
  .preference-card {
    @apply flex flex-col justify-center items-center
		bg-gray-700 text-white
		w-[130px] h-[60px]
		shrink-0
		rounded-lg
		relative
		gap-1
		px-2;
  }

  .selected {
    @apply border-solid border-[1px] border-yellow-500
		font-bold
		bg-amber-500;
  }
}

/* NavBar */
@layer components {
  .navbar-container {
    @apply /* border-dotted border-2 border-purple-400 */
		flex justify-center items-center md:justify-between
		w-full h-[90px]
		relative
		p-2;
  }
  .mobile-links-container {
    @apply /* border-solid border-2 border-orange-400 */
		flex justify-evenly items-center
		w-full h-full md:max-w-[400px]
		relative;
  }
  .navbar-mobile-link {
    @apply /* border-solid border-white border-[1px] */
		flex flex-col justify-evenly items-center 
		w-full h-full 
		relative;
  }
  .navbar-logo {
    @apply /* border-solid border-2 border-yellow-400 */
		hidden md:flex md:flex-row md:justify-center md:items-center
		w-[250px] h-full
		relative;
  }
}

/* Home Page */
@layer components {
  .home-page-container {
    @apply /* border-solid border-2 border-blue-400 */
		bg-[url('/images/welcome-image.jpg')]
		bg-cover bg-center
		flex justify-center items-center
		w-full h-full
		p-4
		relative;
  }
  .home-page-content {
    @apply /* border-solid border-2 border-red-500 */
		flex flex-col justify-center items-center
		max-w-[1000px]
		w-full h-full 
		relative
		gap-4;
  }
  .home-page-header {
    @apply /* border-solid border-green-400 border-2 */
		flex justify-center items-center
		w-full h-fit
		relative
		text-xs
		p-2;
  }
  .hp-header-mobile {
    @apply flex justify-center items-center
		text-2xl md:hidden w-full h-fit;
  }
  .hp-header-large {
    @apply text-2xl w-full h-fit hidden
		md:flex md:justify-between md:items-center;
  }
  .home-page-body {
    @apply /* border-solid border-green-600 border-2 */
		flex flex-col justify-start items-center
		w-full h-full
		overflow-y-auto
		relative;
  }

  .home-page-movie-list-container {
    @apply /* border-solid border-2 border-purple-400 */
		flex flex-col justify-center items-center
		w-full h-fit mt-2
		relative;
  }
  .hp-mcu-title {
    @apply border-solid border-b-[1px] border-red-400
		flex justify-between items-center
		w-full h-fit
		relative
		p-2;
  }
  .hp-mcu-movies {
    @apply /* border-solid border-[1px] border-green-400 */
		flex justify-start items-center
		w-full h-fit gap-2 md:gap-5
		overflow-x-auto
		relative
		p-2;
  }
  .hp-mcu-movie {
    @apply /* border-solid border-[1px] border-blue-400 */
		flex flex-col justify-center items-center
		shrink-0
		w-[160px] h-fit
		relative;
  }
  .ellipsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Movies Page */
@layer components {
  .movies-page-container {
    @apply /* border-dotted border-4 border-blue-400 */
		flex justify-center items-center
		bg-[url('/images/welcome-image.jpg')]
		bg-cover bg-center
		w-full h-full
		relative
		p-2;
  }

  .movies-page-content {
    @apply /* border-solid border-y-[1px] border-red-400 */
		flex flex-col justify-center items-center
		w-full h-full max-w-[1000px]
		relative
		gap-4;
  }

  .movies-page-header {
    @apply /* border-solid border-4 border-purple-400 */
		flex justify-center items-center
		w-full h-fit
		relative
		text-lg
		gap-4;
  }

  .movies-page-toggle-btn {
    @apply bg-gray-700/70
		flex justify-center items-center
		text-white/40
		rounded-lg
		w-[40%] h-fit
		relative
		p-2;
  }
  .movies-page-selected {
    @apply bg-red-400
	font-semibold
	text-black;
  }

  .movies-page-cards-container {
    @apply border-solid border-t-[1px] border-red-400
		flex justify-evenly items-center flex-wrap
		overflow-y-auto
		w-full h-full
		relative
		gap-2;
  }

  .movie-btn {
    @apply /* border-solid border-2 border-green-400 */
		flex justify-center items-center
		w-fit h-fit
		my-1;
  }
}

/* Profile Page */
@layer components {
  .profile-page-container {
    @apply /* border-solid border-4 border-blue-400 */
		flex flex-col justify-center items-center
		bg-[url('/images/welcome-image.jpg')]
		bg-cover bg-center
		w-full h-full
		relative
		p-5;
  }
  .profile-page-content {
    @apply /* border-solid border-4 border-orange-400 */
		flex flex-col justify-start items-center
		w-full h-full max-w-[1000px]
		overflow-y-auto
		relative
		gap-8;
  }
  .profile-page-section {
    @apply /* border-solid border-4 border-purple-400 */
		flex flex-col justify-center items-center
		w-full h-fit
		relative
		gap-2;
  }
  .profile-title {
    @apply border-solid border-b-2 border-yellow-400
		flex justify-start items-center
		w-full h-fit
		relative
		text-2xl
		py-2;
  }
  .profile-section-content {
    @apply /* border-solid border-4 border-green-400 */
		flex flex-col justify-center items-start
		w-full h-fit font-light
		relative
		gap-1;
  }
  .profile-subtitle {
    @apply /* border-solid border-4 border-blue-400 */
		flex justify-start items-center
		w-full h-fit
		relative
		text-lg;
  }
  .profile-list, .rec-list {
    @apply /* border-solid border-white border-2 */
		flex justify-start items-center flex-wrap
		w-full h-fit max-h-[100px]
		gap-2;
  }
  .profile-list-item, .rec-list-item {
    @apply border-solid border-2 border-red-400
		flex justify-center items-center
		w-fit h-fit
		shrink-0
		rounded-lg
		relative
		text-center
		text-[.6rem]
		p-1;
  }
}

/* Recommendations Page */
@layer components {
  .recs-page-container {
    @apply 
	/* border-solid border-4 border-blue-400 */
		flex justify-center items-center
		bg-[url('/images/welcome-image.jpg')]
		bg-cover bg-center
		w-full h-full
		relative
		p-2;
  }
  .recs-page-content {
    @apply 
	/* border-solid border-4 border-orange-400 */
		flex flex-col justify-start items-center
		w-full h-full max-w-[1000px]
		relative
		gap-4;
  }
  .recs-page-header {
    @apply 
		border-solid border-b-2 border-white
		flex justify-center items-center
		w-full h-fit
		relative
		text-2xl
		text-center
		py-2;
  }
  .recs-page-body {
    @apply 
	/* border-solid border-white border-4 */
	flex flex-col justify-start items-center
	overflow-y-auto gap-12
	w-full h-full
	relative;
  }

  .recs-page-section {
    @apply 
	/* border-solid border-4 border-purple-400 */
		flex flex-col justify-center items-center
		w-full h-fit
		relative
		gap-2;
  }
  .recs-image {
	@apply 
		/* border-solid bor border-yellow-400 */
		flex justify-center items-center
		relative overflow-hidden
		w-[50px] h-[60px]
		md:w-[80px] md:h-[80px]
		lg:w-[120px] lg:h-[120px]
		rounded-lg;
  }
  .recs-title {
    @apply 
	/* border-solid border-b-4 border-yellow-400 */
		flex justify-start items-center gap-4
		w-full h-fit
		shrink-0
		relative
		text-lg
		p-2;
  }
  .recs-title-text {
    @apply border-solid border-b-2 border-red-400
		w-full h-fit
		relative
		text-xl
		md:text-2xl lg:text-3xl
		p-2;
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
  }

  .recs-section-content {
    @apply /* border-solid border-4 border-green-400 */
		flex flex-col justify-center items-start
		w-full h-fit
		relative
		gap-1;
  }
  .recs-subtitle {
    @apply /* border-solid border-4 border-blue-400 */
		flex justify-start items-center
		w-full h-fit
		relative
		text-lg;
  }
  .recs-list {
    @apply /* border-solid border-white border-2 */
		flex justify-start items-center flex-wrap
		w-full h-fit max-h-[100px]
		gap-2;
  }
  .recs-list-item {
    @apply border-solid border-2 border-red-400
		flex justify-center items-center
		w-fit h-fit
		shrink-0
		rounded-lg
		relative
		text-center
		text-[.6rem]
		p-1;
  }
}

/* Horizontal Scroll */
@layer components {
  .scroll-x-only {
    overflow-x: auto;
  }
  .scroll-y-only {
    overflow-y: auto;
  }

  /* Styles for the scrollbar */
  .scroll-x-only::-webkit-scrollbar {
    height: 4px;
  }
  .scroll-y-only::-webkit-scrollbar {
    width: 10px;
  }

  .scroll-y-only::-webkit-scrollbar-track,
  .scroll-x-only::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-y-only::-webkit-scrollbar-thumb,
  .scroll-x-only::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scroll-y-only::-webkit-scrollbar-thumb:hover,
  .scroll-x-only::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
