@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
	}

	html,
	body {
		margin: 0;
		padding: 0;
		position: relative;
		box-sizing: border-box;
		width: 100vw;
		height: 100vh;
		min-width: 400px;
		min-height: 650px;
		background-color: black;
		color: white;
	}
}

@layer components {
	.main-container,
	.protected-main-layout {
		@apply border-solid border-2 border-white
    flex flex-col justify-center items-center
    w-full h-full
    relative;
	}
}
