@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT CSS */
@layer base {

	:root {
		/* Empty */
	}

	html,body {
			margin: 0;
			padding: 0;
			position: relative;
			box-sizing: border-box;
			width: 100vw;
			height: 100vh;
			min-width: 400px;
			min-height: 650px;
			background-color: rgb(15, 0, 0);
			color: white;
		}
}

/* Root Layout & Protected Layout */
@layer components {
	.main-container,
	.protected-main-container {
		@apply 
		/* border-solid border-4 border-blue-400 */
		flex flex-col justify-center items-center
		w-full h-full
		relative;
	}
	.protected-main-container {
		@apply md:flex-col-reverse
	}	
	.protected-content-container {
		@apply 
		/* border-solid border-4 border-orange-400 */
		flex flex-col justify-center items-center
		w-full h-full
		relative;
	}
}

/* Welcome Page */
@layer components {
	.welcome-page-container {
		@apply border-solid border-4 border-blue-400
		flex justify-center items-center
		w-full h-full
		p-5 sm:p-10 md:p-14
		relative;
	}
	.welcome-page-content {
		@apply border-dotted border-2 border-orange-400
		flex flex-col justify-center items-center
		w-full h-full max-w-[1000px]
		gap-4
		relative;
	}
	.welcome-header-container {
		@apply border-dotted border-2 border-purple-400
		flex flex-col justify-center items-center
		w-full h-[70px]
		p-5 gap-4
		relative;
	}
	.welcome-page-body {
		@apply flex flex-col justify-center items-center 
		w-full h-fit
		gap-2
	}
	.welcome-image-container {
		@apply border-dotted border-2 border-yellow-400
		flex flex-col justify-center items-center
		w-full h-[300px] max-w-[600px]
		p-5 gap-4
		relative;
	}
	.welcome-text {
		@apply text-2xl
	}
	.welcome-btns-container {
		@apply border-dotted border-2 border-red-400
		flex flex-col justify-center items-center
		w-full h-fit
		gap-2
		relative
		
		sm:flex-row sm:gap-4 sm:justify-between;
	}
	.welcome-btn {
		@apply border-dotted border-2 border-green-400
		flex justify-center items-center
		w-full h-fit
		gap-4
		relative
		
		sm:w-[250px] md:w-[300px] lg:w-[350px];
	}
}

/* Complete Sign Up */
@layer components {
	.complete-signup-container {
		@apply border-solid border-4 border-blue-400
		flex justify-center items-center
		w-full h-full
		relative
		p-5;
	}
	.complete-signup-content {
		@apply border-solid border-4 border-orange-400
		flex flex-col justify-center items-center
		w-full h-full max-w-[1000px]
		relative
		gap-2;
	}
	.complete-signup-header {
		@apply border-solid border-4 border-purple-400
		flex justify-center items-center
		w-full h-fit
		text-2xl
		text-center
		relative;
	}
	.complete-signup-form-container {
		@apply border-dotted border-2 border-yellow-400
		flex flex-col justify-center items-center
		w-full h-fit
		relative
		gap-2;
	}
	
}

/* SignUpStep1 */
@layer components {
	.form-1 {
		@apply border-solid border-4 border-blue-400
		flex flex-col justify-center items-center
		w-full h-fit
		gap-4;
	}
}

/* SignUpStep2 */
@layer components {
	.signup-step2 {
		@apply border-solid border-4 border-blue-400
		flex flex-col justify-center items-center
		w-full h-full
		relative;
	}
	.signup-step2-content {
		@apply border-solid border-4 border-orange-400
		flex flex-col justify-center items-center
		w-full h-full min-h-[400px]
		relative
		gap-2;
	}
	.theaterlist-container {
		@apply border-solid border-4 border-purple-400
		flex flex-col justify-center items-center
		w-full h-full
		relative
		gap-2
		
		md:flex-row md:gap-4;
	}
	.theaterlist-set {
		@apply border-solid border-4 border-yellow-400
		flex flex-col justify-center items-center
		w-fit h-fit
		relative
		gap-2
		md:gap-4;
	
	}
}

/* SignUpStep3 */ 
@layer components {
	.signup-step3 {
		@apply 
		/* border-4 border-dotted border-red-600 */
		flex flex-col justify-center items-center 
		relative
		w-full h-fit;
	}
	.signup-step3-title {
		@apply 
		/* border-2 border-solid border-white */
		flex justify-start items-center
		w-full h-fit
		py-2;
	}
	.signup-step3-cards-container {
		@apply flex flex-nowrap justify-start items-center 
		w-full h-fit
		gap-2
		overflow-x-auto;
	}
}

/* Buttons */
@layer components {
	.rounded-btn {
		@apply 
		flex justify-center items-center
		w-full h-fit
		rounded-2xl
		bg-[#F47A62]
		text-black
		font-medium
		p-2

		transition duration-300 ease-in-out
		hover:bg-[#fcab9a];

	}	
}

/* Cards */
@layer components {
	.cinema-card {
		@apply 
		/* border-solid border-2 border-white */
		flex flex-col justify-center items-center
		bg-gray-700 text-white
		w-[280px] h-fit
		rounded-lg
		relative
		gap-1
		p-2;
	}
	.preference-card {
		@apply flex flex-col justify-center items-center
		bg-gray-700 text-white
		w-[130px] h-[60px]
		shrink-0
		rounded-lg
		relative
		gap-1
		px-2;
	}
	.selected {
		@apply border-solid border-2 border-[#F47A62]
		bg-[#af8076]
	}
}

/* NavBar */
@layer components {
	.navbar-container {
		@apply 
		/* border-solid border-4 border-blue-400 */
		flex justify-center items-center md:justify-between
		w-full h-[90px]
		relative
		p-2;
	}
	.mobile-links-container {
		@apply 
		/* border-solid border-2 border-orange-400 */
		flex justify-evenly items-center
		w-full h-full md:max-w-[400px]
		relative;
	}
	.navbar-mobile-link {
		@apply 
		/* border-solid border-white border-[1px] */
		flex flex-col justify-evenly items-center 
		w-full h-full 
		relative;
	}
	.navbar-logo {
		@apply 
		/* border-solid border-2 border-yellow-400 */
		hidden md:flex md:flex-row md:justify-center md:items-center
		w-[250px] h-full
		relative;
	}
	
}

/* Home Page */ 
@layer components {
	.home-page-container {
		@apply 
		border-solid border-4 border-blue-400
		flex flex-col justify-center items-center
		w-full h-full
		relative;
	}	
}

/* Movies Page */ 
@layer components {
	.movies-page-container {
		@apply 
		border-solid border-4 border-blue-400
		flex flex-col justify-center items-center
		w-full h-full
		relative;
	}	
}

@layer components {
	.profile-page-container {
	  @apply
		flex flex-col
		w-full h-full
		bg-black text-white
		p-0 m-0;
	}
  
	.user-info {
	  @apply
		w-full flex flex-col
		mt-8 mb-6 px-6; /* Add more space at the top and bottom of the user info */
	}
  
	.user-info h1, .preferences h1 {
	  @apply
		text-3xl font-bold mb-4; /* Increase bottom margin for spacing */
	}
	
	.user-info p, .preferences h2, .favorite-item h2 {
	  @apply
		text-base mb-4; /* Increase bottom margin for spacing */
	}
	
	.preferences {
	  @apply
		w-full px-4;
	}
  
	.preferences h1 {
	  @apply
		mb-6; /* Increase bottom margin for more space below the preferences title */
	}
  
	.favorite-item h2 {
	  @apply
		font-semibold mb-4; /* Consistent spacing between the title and the first item */
	}
	
	.favorite-item {
		@apply
		  w-full mb-6 px-4; 
	  }
  
	  .item {
		@apply
		  bg-gray-700 
		  rounded-md
		  py-1 
		  my-1 
		  mx-2 
		  text-sm 
		  inline-flex 
		  items-center 
		  pl-2
		  pr-2; /* Add left padding to balance the space added to the right of the image */
	  }
	
	  .item-image {
		@apply
		  w-8 h-8 rounded-full mr-3; /* Adjusted right margin */
	  }
	  
	  .item-text {
		@apply
		  truncate; /* Prevent text from overflowing the box */
	  }
	
	.navigation {
	  @apply
		fixed inset-x-0 bottom-0
		w-full bg-black text-white py-2
		flex justify-around items-center;
	}
  }